<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @recipient.full_name %></h1>
    <p>
      Please notice that <%= @person.full_name %> has joined the application.<br/>
      Make sure to give them a walk-through as soon as you can. Thanks,
    </p>
    <p>
    The PeopleSystem
    </p>
  </body>
</html>

