<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @recipient.full_name %></h1>
    <p>
      Please notice that <%= @person['first_name'] %> <%= @person['last_name'] %> has left the application.<br/>
      Make sure this is correct, if not, please check with an administrator.
    </p>
    <p>
    Regards,<br/>
    The PeopleSystem
    </p>
  </body>
</html>

